#header
{
	width: 100%;
	max-height: 100%;
	background-color: #BEAEE2;
	padding-top: 30px;
	padding-bottom: 60px;
}
.b-style1
{
	font-family: 'Yomogi', cursive;
	font-size: 30px;
}
.sun-img1
{
	position: absolute;
	left: 50px;
	width: 15%;
	height: 20%;
}
.b-style2
{
	font-family: 'Yomogi', cursive;
	border-bottom: 1px solid black;
}
.cer-logo1
{
	width: 3%;
	height: 3%;
	margin-left: 15px;
}
.table1
{
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	font-family: 'Yomogi', cursive;
}
.cer-img2
{
	border: 3px solid whitesmoke;
}
.a-styling3
{
	text-decoration: none;
	color: white;
	margin-left: 14%;
}
#footer
{
	height: 100%;
	background-color: #171010;
	color: white;
	padding-bottom: 30px;
	padding-top: 20px;
}